/* ==UserStyle==
@name         atlassian. NO BUGS
@namespace    https://github.com/jesus2099/konami-command
@version      2025.12.9
@description  Hide asshole intelligence (AI) crap in Jira and Confluence; and show stronger diff colours in Confluence
@author       jesus2099
@since        2024
==/UserStyle== */

@-moz-document domain("atlassian.net") {
	body#com-atlassian-confluence {
		/* stronger diff contrasts */
		.diff-html-added { background: lightgreen; text-decoration: underline; }
		.diff-html-removed { background: pink; text-decoration: line-through; }
		.diff-html-changed { background: cyan; text-decoration: underline dashed; }
		/* hide AI cluttering crap */
		div#search-page-smart-answers, [data-testid^='ak-editor-ai-selection-toolbar-ai-button'], [data-testid^='context-menu-rovo-chat'], [data-testid='object-sidebar-container'] > :last-child /* contains platform-ai-button */, [data-testid='app-navigation-ai-mate'] { display: none; }
		/* hide clumsy search suggestions */
		div[data-testid='search-page-results-list'] > :not([data-testid='search-page-result']) { display: none; }
	}
	body#jira {
		/* hide AI cluttering crap */
		[data-editor-content-component='true'], [data-testid='issue.views.issue-base.foundation.status.improve-issue'], [data-testid='atlassian-intelligence-toolbar-button'], [data-testid='atlassian-navigation.ui.conversation-assistant.app-navigation-ai-mate'] { display: none; }
	}
}
