/* ==UserStyle==
@name         atlassian. NO BUGS
@namespace    https://github.com/jesus2099/konami-command
@version      2026.2.12.1435
@description  Hide asshole intelligence (AI) crap in Jira and Confluence; and show stronger diff colours in Confluence
@author       jesus2099
@since        2024
==/UserStyle== */

@-moz-document domain("atlassian.net") {
	body#com-atlassian-confluence {
		/* stronger diff contrasts */
		.diff-html-added { background: lightgreen; text-decoration: underline; }
		.diff-html-removed { background: pink; text-decoration: line-through; }
		.diff-html-changed { background: cyan; text-decoration: underline dashed; }
		/* hide AI cluttering crap */
		div#search-page-smart-answers,
		[data-testid^='ak-editor-ai-selection-toolbar-ai-button'],
		[data-testid^='context-menu-rovo-chat'],
		/* right sidebar */
		[data-testid='object-sidebar-container'] > div:has(div > div > div[role='presentation'] button[data-testid='platform-ai-button']),
		[data-testid='object-sidebar-control'] > div:has(button[data-testid='audio-button']),
		[data-testid='object-sidebar-control'] > div:has(> button[data-testid='sidebar-feedback-button']),
		[data-testid='app-navigation-ai-mate'],
		div[data-testid='browser-extension-banner']:has(span[aria-label='Rovo']),
		/* “smart” links popup */
		div.smart-links-hover-preview div[data-testid='smart-block-snippet-resolved-view'],
		div.smart-links-hover-preview button[data-testid='smart-action-ai-summary-action-summarise-action'],
		/* selection popup */
		div#highlightActionsPopup button[data-testid='defineButton'],
		div#highlightActionsPopup > div[data-testid='context-menu-other-apps'],
		div[data-testid='floating-toolbar-items'] div:has(> div[role='presentation'] button[aria-haspopup='true']),
		/* hide clumsy search suggestions */
		div[data-testid='search-page-results-list'] > :not([data-testid='search-page-result'])
		{
			display: none;
		}
	}
	body#jira {
		/* hide AI cluttering crap */
		[data-editor-content-component='true'],
		[data-testid='issue.views.issue-base.foundation.status.improve-issue'],
		[data-testid='atlassian-intelligence-toolbar-button'],
		[data-testid='atlassian-navigation.ui.conversation-assistant.app-navigation-ai-mate'],
		/* right sidebar */
		[data-testid='layout-controller.ui.bottom-right-corner.container.styled-container'] :has(div[role='presentation'] button[data-testid='platform-ai-button']),
		/* selection popup */
		#_r2v_:has(button[data-testid='highlight-actions.ui.popup-target.popup-dialog.action-items.define-button.define-button'])
		{
			display: none;
		}
	}
}
