/* ==UserStyle==
@name         atlassian. BUG FIXES
@namespace    https://github.com/jesus2099/konami-command
@version      2025.12.3
@description  Hide AI crap and show stronger diff colours
@author       jesus2099
@since        2024
==/UserStyle== */

@-moz-document domain("atlassian.net") {
	body#com-atlassian-confluence {
		/* stronger diff contrasts */
		.diff-html-added { background: lightgreen; text-decoration: underline; }
		.diff-html-removed { background: pink; text-decoration: line-through; }
		.diff-html-changed { background: cyan; text-decoration: underline dashed; }
		/* hide AI cluttering crap */
		div#search-page-smart-answers, [data-testid^='ak-editor-ai-selection-toolbar-ai-button'] { display: none; }
	}
	body#jira {
		/* hide AI cluttering crap */
		div[data-editor-content-component='true'] { display: none; }
	}
}
