/* ==UserStyle==
@name         mb. HIDE LISTENBRAINZ PLAYER
@namespace    https://github.com/jesus2099/konami-command
@version      2023.1.12
@description  Hide the big sidebar “Play on ListenBrainz” button
@author       jesus2099
@since        2023-01-12; https://community.metabrainz.org/t/play-on-listenbrainz-youtube-player-error/617141/5?u=jesus2099
==/UserStyle== */
@-moz-document domain("musicbrainz.org") {

	#sidebar > a.styled-button.listenbrainz-button[href^='//listenbrainz.org/player'] {
		display: none;
	}

}
