/* ==UserStyle==
@name           voicepublisher. TURBO
@namespace      https://github.com/jesus2099/konami-command
@version        2023.5.5
@description    Unhide input text fields and selects; Easy scroll Call Details; Keep reducer always on screen in Reports
@author         jesus2099
@since          2023-04-12
==/UserStyle== */

@-moz-document domain("voicepublisher.net") {

	/* --------------------------------------
	Unhide content of select and input fields
	-----------------------------------------
	Otherwise hidden by percentage widths in
	@media (min-width: 768px), @media (min-width: 992px), @media (min-width: 1200px)
	in /assets/application-….css */
	.col-md-1, .col-sm-2 {
		width: unset;
	}
	/* mark as custom */
	.col-md-1 > input, .col-md-1 > select, .col-sm-2 > input, .col-sm-2 > select {
		background-color: #fcf;
	}

	/* ---------------------
	Easy scroll Call Details
	------------------------
	Otherwise 2 nested vertical scroll bars, little bit clumsy */
	div.modal-dialog > div.modal-content > div.modal-body,
	div.modal-dialog > div.modal-content > div.modal-body > fieldset.call_route > div {
		max-height: unset !important;
	}

    /* -------------------------------------
	Keep reducer always on screen in Reports
	------------------------------------- */
    div.sidebar.for-reports > div.reducer {
        background: #fcf;
        left: 196px;
        position: fixed;
        right: unset;
        top: 67px;
    }
    div.sidebar.for-reports > div.reducer.closed {
        left: unset;
    }

}
