/* ==UserStyle==
@name           voicepublisher. TURBO
@namespace      https://github.com/jesus2099/konami-command
@version        2024.2.6
@description    Unhide input text fields and selects; Easy scroll Call Details; Keep reducer always on screen in Reports; Handy version hover colours
@author         jesus2099
@since          2023-04-12
==/UserStyle== */

/* Customised parts are shown on screen as pink (#ffccff) whenever possible */

@-moz-document domain("voicepublisher.net") {

	/* ticket 110254 (declined) -------------
	Unhide content of select and input fields
	-----------------------------------------
	Otherwise hidden by percentage widths in
	@media (min-width: 768px), @media (min-width: 992px), @media (min-width: 1200px)
	in /assets/application-….css */
	.col-md-1, .col-sm-2 {
		width: unset;
	}
	.col-md-1 > input, .col-md-1 > select, .col-sm-2 > input, .col-sm-2 > select {
		background-color: #fcf;
	}

	/* ---------------------
	Easy scroll Call Details
	------------------------
	Otherwise 2 nested vertical scroll bars, little bit clumsy */
	div#callDetailsModal > div.modal-dialog > div.modal-content > div.modal-body,
	div#callDetailsModal > div.modal-dialog > div.modal-content > div.modal-body > fieldset.call_route > div {
		max-height: unset !important;
	}
	div#callDetailsModal > div.modal-dialog > div.modal-content > div.modal-header {
		background-color: #fcf;
	}

	/* -------------------------------------
	Keep reducer always on screen in Reports
	------------------------------------- */
	div.sidebar.for-reports > div.reducer {
		background-color: #fcf;
		left: 196px;
		position: fixed;
		right: unset;
		top: 67px;
	}
	div.sidebar.for-reports > div.reducer.closed {
		left: unset;
	}

    /* ------------------------
    Handy version hover colours
    ------------------------ */
    div.sidebar .sidebar-content li.tested a:hover {
        background-color: #fc6;
    }
    div.sidebar .sidebar-content li.published a:hover {
        background-color: #cfc;
    }
}
